html {
    scroll-behavior: smooth;
    /* background: #123700; */
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Farro', sans-serif;
    font-weight: 600;
}

.container {
    background-color: cadetblue;
}

.row {
    /* background-color: #fff; */
}

.main-header {
    color: var(--text-color);
    font-size: var(--fs-20);
}

.main-title {
    color: var(--text-color);
    font-size: var(--fs-28);
    margin: var(--space-20) 0;
}

.section-header {
    color: var(--third-green);
}

.section-title {
    color: var(--main-green);
}

.section-description {
    color: var(--second-green);
}

@media (min-width: 768px) {
    .main-title {
        font-size: var(--fs-35);
    }
}

@media (min-width: 992px) {
    .main-title {
        font-size: var(--fs-40);
    }
}

/* @media (min-width: 1200px) {
    .main-title {
        font-size: var(--fs-35);
    }
} */
