html {
    scroll-behavior: smooth;
    /* background: #123700; */
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    padding-top: 60px;
    font-family: 'Farro', sans-serif;
    font-weight: 600;
}

.main-header {
    color: var(--text-color);
    font-size: var(--fs-20);
}

.main-title {
    color: var(--text-color);
    font-size: var(--fs-25);
    margin: 40px 0;
}

.section-header {
    color: var(--third-green);
    font-size: var(--fs-20);
}

.section-title {
    color: var(--main-green);
    font-size: var(--fs-25);
    margin: var(--space-20) 0;
}

.section-description {
    color: var(--second-green);
    font-size: var(--fs-16);
    margin-bottom: var(--space-20);
    line-height: 25px;
}

a {
    text-decoration: none;
    color: var(--third-green);
    font-size: var(--fs-16);
    line-height: 1.5rem;
}

a:hover {
    font-size: var(--fs-18);
}

@media (min-width: 576px) {
    .section-header {
        font-size: var(--fs-18);
    }
    .section-title {
        font-size: var(--fs-25);
    }
    .section-description {
        font-size: var(--fs-18);
    }
}

@media (min-width: 768px) {
    .main-title {
        font-size: var(--fs-35);
    }
    .section-header {
        font-size: var(--fs-20);
    }
    .section-title {
        font-size: var(--fs-30);
    }
    .section-description {
        font-size: var(--fs-18);
        line-height: 25px;
    }
}

@media (min-width: 992px) {
    .main-title {
        font-size: var(--fs-40);
    }
    .section-header {
        font-size: var(--fs-25);
    }
    .section-title {
        font-size: var(--fs-35);
    }
    .section-description {
        font-size: var(--fs-20);
        line-height: 30px;
    }
}

@media (min-width: 1200px) {
    .main-title {
        font-size: var(--fs-45);
    }
}
