footer {
    background-color: var(--main-green);
    padding: 70px 0;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

footer .logo-wrapper img {
    width: 200px;
}

.footer-col {
    width: 25%;
}

.footer-col h4 {
    font-size: var(--fs-18);
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--third-green);
    height: 2px;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li {
    list-style-type: none;
}

.footer-col ul li a {
    display: flex;
    margin: 10px 0;
    font-size: var(--fs-16);
    text-transform: capitalize;
    color: var(--second-green);
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #fff;
    font-size: var(--fs-18);
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: #fff;
    transition: all 0.3s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff;
}

.footer-col .social-links i {
    margin-top: 10px;
}

@media (min-width: 768px) {
    .footer-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    footer .logo-wrapper img {
        width: 250px;
    }
}

@media (min-width: 992px) {
    .footer-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    footer .logo-wrapper img {
        width: 300px;
    }
}
