.hero {
    background-image: url('../../img/zieminiai-kvieciai.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}

.hero .row .text-content {
    padding-top: 80px;
}

.hero > .row > .text-contact > .btn-contact {
    transition: all 0.3s;
    margin-top: 20px;
}

.hero > .row > .text-contact > .btn-contact:hover {
    transform: scale(1.15);
}
