.sponsores-wrapper > .image-wrapper img {
    width: 100%;
    height: 300px;
}

.sponsores-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* reitingavimo dalis */

.rating-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    /* background: #111; */
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.rating-area .post {
    display: none;
}
.rating-area .text {
    font-size: var(--fs-20);
    color: #666;
    margin-bottom: 10px;
}

.rating-area .edit {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: var(--fs-15);
    color: #666;
    cursor: pointer;
}

.rating-area .edit:hover {
    text-decoration: underline;
}

.star-widget input {
    display: none;
    margin-right: 50px;
}

.star-widget label {
    font-size: var(--fs-20);
    color: #444;
    padding: 5px;
    float: right; /*tam, kad zvaigzdziu uzsispalvinimas eitu is kaires i desine */
    transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
    color: #fd4;
}

input:checked ~ label {
    color: #fd4;
}

input#rate-5:checked ~ label {
    color: #fe7;
    text-shadow: 0 0 8px rgb(165, 101, 53);
}

#rate-1:checked ~ .rating-form header:before {
    content: 'Man labai nepatiko 😠';
}
#rate-2:checked ~ .rating-form header:before {
    content: 'Man nepatiko 😔';
}
#rate-3:checked ~ .rating-form header:before {
    content: 'Tiesiog patiko 🙂';
}
#rate-4:checked ~ .rating-form header:before {
    content: 'Man labai patiko 🤩';
}
#rate-5:checked ~ .rating-form header:before {
    content: 'Nuostabi! 😍';
}

.rating-form {
    float: right;
    display: none;
}

input:checked ~ .rating-form {
    display: block;
}
.rating-form header {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: var(--fs-20);
    /* color: #fe7; */
    color: var(--main-green);
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}

.rating-form .textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.rating-form .textarea textarea {
    width: 100%;
    height: 100px;
    outline: none;
    border: 1px solid #333;
    /* background: #222; */
    padding: 10px;
    font-size: var(--fs-15);
    /* color: #eee; */
    color: #999;
    resize: none;
}

.rating-form .post-btn {
    height: 45px;
    width: 100%;
    margin: 15px 0;
}

.rating-form .post-btn button {
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: var(--fs-15);
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3 ease;
}

.rating-form .post-btn button:hover {
    background: #1b1b1b;
}

@media (min-width: 768px) {
    .sponsores > .text-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .sponsores > .text-wrapper > .main-paragraph {
        font: var(--fs-15);
    }
    .col-12.sponsores-items img {
        width: 200px;
    }
    .sponsores-items img:nth-child(3) {
        margin-top: 27px;
        height: 20px;
    }
}

.sponsores-banner-wrapper {
    background-color: var(--second-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sponsores-banner > img {
    width: 100px;
}

@media (min-width: 768px) {
    .sponsores-banner-wrapper {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 992px) {
    .sponsores-banner > img {
        width: 150px;
    }
}
