/* basic */
@import '../basic/base.css';
@import '../basic/layout.css';
@import '../basic/variables.css';

/* 3-rd-party */
@import '../3-rd-party/fontawesome.min.css';

/* components */
@import '../components/buttons.css';

/* Header start */
.header {
    background-color: var(--main-green);
    position: fixed;
    width: 100%;
    top: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    min-height: 60px;
}

.nav {
    transition: all 0.3s ease-in-out;
}

.nav-list {
    display: flex;
    list-style: none;
    column-gap: 30px;
}

.nav-link {
    text-decoration: none;
    color: var(--second-green);
    font-size: var(--fs-15);
    transition: all 0.4s;
}

.nav-link:hover,
.nav-link:focus {
    color: #ece732;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    height: 2px;
    width: 27px;
    background: var(--second-green);
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
}

.nav-open {
    transform: translate(0) !important;
}

.hamburger-open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger-open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}
/* Header end */

/* Hero start */
.hero {
    background-image: url('../../img/zieminiai-kvieciai.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}

.hero .row .text-content {
    padding-top: 80px;
}

.hero > .row > .text-contact > .btn-contact {
    transition: all 0.3s;
    margin-top: 20px;
}

.hero > .row > .text-contact > .btn-contact:hover {
    transform: scale(1.15);
}
/* Hero end */

/* About-us start */
.video-wrapper {
    background-image: url(../../img/siaures-aruodai.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
    height: 400px;
    /* position: relative; */
}

.video {
    font-size: 35px;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    padding: 20px 15px;
    /* position: relative; */
    bottom: -200px;
    left: 115px;
}

/* .overlay {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    bottom: 130px;
    left: 115px;
    cursor: pointer;
} */

.info-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    color: var(--main-green);
    justify-items: center;
    background: rgb(255, 255, 255);
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(251, 236, 93, 1) 46%,
        rgba(251, 216, 54, 1) 100%
    );
}

.stat-figure {
    display: flex;
    align-items: center;
}

.text-reverse {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-green);
}

.stat-number {
    font-size: var(--fs-40);
}

.stat-suffix {
    font-size: var(--fs-30);
}

.stat-caption {
    color: var(--main-green);
    font-size: 12px;
}
/* About-us end */

/* Services start */
.services {
    padding-top: 0;
}

.services-wrapper {
    width: 100%;
}

.services-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.service-card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    gap: 20px;
    border: 1px solid var(--main-green);
    border-radius: 8px;
    padding: 20px;
}

.service-card svg {
    width: 70px;
    fill: #fe7;
    background-color: var(--main-green);
    padding: 10px;
    border-radius: 50%;
}

.card-title {
    color: var(--second-green);
    font-size: var(--fs-18);
    margin-bottom: 15px;
}

.card-description {
    font-size: var(--fs-12);
    font-weight: 400;
    line-height: 18px;
    font-style: italic;
}

/* Services end */

/* Sponsores start */
.sponsores-wrapper > .image-wrapper img {
    width: 100%;
    height: 300px;
}

.sponsores-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* reitingavimo dalis */

.rating-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    /* background: #111; */
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.rating-area .post {
    display: none;
}

.rating-area .text {
    font-size: var(--fs-20);
    color: #666;
    margin-bottom: 10px;
}

.rating-area .edit {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: var(--fs-15);
    color: #666;
    cursor: pointer;
}

.rating-area .edit:hover {
    text-decoration: underline;
}

.star-widget input {
    display: none;
    margin-right: 50px;
}

.star-widget label {
    font-size: var(--fs-20);
    color: #444;
    padding: 5px;
    float: right; /*tam, kad zvaigzdziu uzsispalvinimas eitu is kaires i desine */
    transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
    color: #fd4;
}

input:checked ~ label {
    color: #fd4;
}

input#rate-5:checked ~ label {
    color: #fe7;
    text-shadow: 0 0 8px rgb(165, 101, 53);
}

#rate-1:checked ~ .rating-form header:before {
    content: 'Man labai nepatiko 😠';
}

#rate-2:checked ~ .rating-form header:before {
    content: 'Man nepatiko 😔';
}

#rate-3:checked ~ .rating-form header:before {
    content: 'Tiesiog patiko 🙂';
}

#rate-4:checked ~ .rating-form header:before {
    content: 'Man labai patiko 🤩';
}

#rate-5:checked ~ .rating-form header:before {
    content: 'Nuostabi! 😍';
}

.rating-form {
    float: right;
    display: none;
}

input:checked ~ .rating-form {
    display: block;
}

.rating-form header {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: var(--fs-20);
    /* color: #fe7; */
    color: var(--main-green);
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}

.rating-form .textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.rating-form .textarea textarea {
    width: 100%;
    height: 100px;
    outline: none;
    border: 1px solid #333;
    /* background: #222; */
    padding: 10px;
    font-size: var(--fs-15);
    /* color: #eee; */
    color: #999;
    resize: none;
}

.rating-form .post-btn {
    height: 45px;
    width: 100%;
    margin: 15px 0;
}

.rating-form .post-btn button {
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: var(--fs-15);
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3 ease;
}

.rating-form .post-btn button:hover {
    background: #1b1b1b;
}

.sponsores-banner-wrapper {
    background: rgb(255, 255, 255);
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(251, 236, 93, 1) 46%,
        rgba(251, 216, 54, 1) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sponsores-banner > img {
    width: 100px;
}
/* Sponsores end */

/* Gallery start */
.gallery > .gallery-wrapper > .text-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gallery > .gallery-wrapper > .filter-buttons {
    display: flex;
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    gap: 20px;
}

.filterable-cards {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
    margin-top: 40px;
}

.card {
    width: 300px;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    border: 2px solid grey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.card.hide {
    display: none;
}

.card img {
    width: 100%;
    height: 200px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.card-body {
    padding: 15px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card-body .card-title {
    font-size: var(--fs-20);
    font-weight: 500;
    color: var(--third-green);
}

.card-body .card-text {
    font-size: var(--fs-15);
    color: var(--main-green);
}
/* Gallery end */

/* FAQ start */
.faq {
    padding: 0;
}

.wrapper {
    width: 500px;
}

.faq > .row > .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.accordion-wrap .accordion-header {
    width: 100%;
    padding: 15px;
    border: 1px solid var(--main-green);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: var(--main-green);
    font-weight: 800;
    position: relative;
    cursor: pointer;
    text-align: start;
}

.accordion-wrap .accordion-header:hover {
    background-color: var(--second-green);
}

.wrapper .accordion-wrap .accordion-header::before,
.wrapper .accordion-wrap .accordion-header::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 20px;
    height: 2px;
    background-color: var(--main-green);
}

.wrapper .accordion-wrap .accordion-header::after {
    transform: rotate(-90deg);
    transition: all 0.5s ease;
}

.wrapper .accordion-wrap .accordion-body {
    width: 100%;
    height: 0;
    transition: all 0.5s ease;
    overflow: hidden;
    /* background-color: var(--main-green); */
    font-size: var(--fs-12);
    border: 1px solid var(--main-green);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.wrapper .accordion-wrap .accordion-body p {
    color: var(--main-green);
    text-align: start;
    padding: 20px 15px;
    line-height: 25px;
}

.wrapper .accordion-wrap .accordion-header.active:after {
    transform: rotate(0);
}

.wrapper .accordion-wrap .accordion-header.active + .accordion-body {
    height: 180px;
}
/* FAQ end */

/* Contacts start */
.map-wrapper iframe {
    width: 100%;
}

.contact-information {
    display: grid;
    grid-template-columns: 1fr;
    font-size: var(--fs-15);
    font-weight: 100;
    margin-top: 10px;
}

.working-hours {
    display: flex;
    flex-direction: column;
}

.contact-information-wrapper .special-text {
    font-size: var(--fs-8);
}
/* Contacts end */

/* Footer start */
footer {
    background-color: var(--main-green);
    padding: 70px 0;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

footer .logo-wrapper img {
    width: 200px;
}

.footer-col {
    width: 25%;
}

.footer-col h4 {
    font-size: var(--fs-18);
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--third-green);
    height: 2px;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li {
    list-style-type: none;
}

.footer-col ul li a {
    display: flex;
    margin: 10px 0;
    font-size: var(--fs-16);
    text-transform: capitalize;
    color: var(--second-green);
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #fff;
    font-size: var(--fs-18);
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: #fff;
    transition: all 0.3s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff;
}

.footer-col .social-links i {
    margin-top: 10px;
}
/* Footer end */

@media (min-width: 768px) {
    .information-wrapper {
        display: flex;
        align-items: center;
    }
    .info-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .stat-figure {
        font-size: 120px;
    }
    .stat-caption {
        font-size: var(--fs-15);
    }
    .sponsores > .text-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .sponsores > .text-wrapper > .main-paragraph {
        font: var(--fs-15);
    }
    .col-12.sponsores-items img {
        width: 200px;
    }
    .sponsores-items img:nth-child(3) {
        margin-top: 27px;
        height: 20px;
    }
    .sponsores-banner-wrapper {
        display: flex;
        flex-direction: row;
    }
    .services-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .filterable-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .contacts-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact-information {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    footer .logo-wrapper img {
        width: 250px;
    }
}

@media (min-width: 992px) {
    .info-wrapper {
        background: none;
    }
    .services-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .sponsores-banner > img {
        width: 150px;
    }
    .filterable-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .contact-information {
        font-size: var(--fs-18);
    }
    .footer-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    footer .logo-wrapper img {
        width: 300px;
    }
}

@media (max-width: 992px) {
    .nav {
        position: fixed;
        top: 80px;
        left: 0;
        background-color: var(--main-green);
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);
    }
    .nav-list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .nav-link {
        font-size: 14px;
    }
    .hamburger {
        display: block;
    }
}
